body {
  font-family: Arial;
  margin: 0;
  background: #f5f7fb;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 15px;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.submit-btn {
  padding: 10px 20px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* FIELD SETTINGS */
.field-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
}

.field-row span {
  flex: 1;
}

/* A4 PAGE */
.page {
  width: 210mm;
  height: 297mm;
  padding: 10mm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  page-break-after: always;
}

/* FORM */
.form-card {
  border: 2px solid green;
  padding: 12px;
  height: 30%;
  box-sizing: border-box;
}

/* HEADER */
.header {
  text-align: center;
}

.sub {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.line-divider {
  border-top: 1px solid black;
  margin: 5px 0;
}

/* ROWS */
.row {
  margin: 8px 0;
  font-size: 13px;
}

.split {
  display: flex;
  justify-content: space-between;
}

.split div {
  width: 48%;
}

/* LINES */
.line {
  display: inline-block;
  border-bottom: 1px solid black;
  width: 120px;
}

.line.long {
  width: 100%;
}

.line.dob {
  width: 140px;
  color: #aaa;
  font-size: 11px;
}

/* PRINT ONLY FORM */
@media print {

  body * {
    visibility: hidden;
  }

  #formSection, #formSection * {
    visibility: visible;
  }

  #formSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  button {
    display: none;
  }
}