body {
  font-family: Arial;
  margin: 0;
  background: #f5f7fb;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 15px;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.submit-btn {
  padding: 10px 20px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* FIELD SETTINGS */
.field-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
}

.field-row span {
  flex: 1;
}

/* A4 PAGE */
.page {
  width: 210mm;
  height: 297mm;
  padding: 10mm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  page-break-after: always;
}

/* FORM */
.form-card {
  width: 100%;
  max-width: 100%;
}

/* HEADER */
.header {
  text-align: center;
  background: #f0f0f0;   /* light grey background */
  padding: 6px;
  margin-bottom: 8px;
}

.school-name {
  font-weight: bold;
  font-size: 14px;
}

.school-meta {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

.school-title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

.school-info {
  font-size: 11px;
  margin-top: 3px;
}

.form-title {
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;
}

.divider {
  border-top: 1px solid black;
  margin: 5px 0;
}

.form-body {
  display: flex;
  gap: 10px;
}

/* LEFT SIDE */
.form-left {
  flex: 1;
}

/* RIGHT SIDE */
.form-right {
  width: 35mm;
}

/* PHOTO */
.photo-box {
  width: 100%;
  height: 38mm;
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  color: #bbb;
}

/* ROW */
.row {
  margin: 6px 0;
}

/* LABEL + LINE */
.field {
  display: flex;
  align-items: center;
  gap: 6px;
}

.field span {
  white-space: nowrap;
}

.line {
  flex: 1;
  border-bottom: 1px solid black;
  height: 12px;
}


/* HALF */
.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.split .field {
  flex: 1;
}

.drag {
  cursor: grab;
  font-size: 16px;
}



/* DOB */
.dob::after {
  content: "DD / MM / YYYY";
  font-size: 9px;
  color: #bbb;
  margin-left: 5px;
}

/* ADDRESS */
.multiline .line {
  display: block;
  width: 100%;
  margin-top: 3px;
}

.row.address {
  margin-top: 8px;
  margin: 8px 0;
}

.address-first-line {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Label spacing fix */
.address-first-line span {
  white-space: nowrap;
}

/* Second line */
.address-line {
  border-bottom: 1px solid black;
  height: 14px;
  margin-top: 8px;  /* 🔥 consistent spacing */
}

/* Make first line stretch properly */
.address-first-line .line {
  flex: 1;
  border-bottom: 1px solid black;
  height: 14px;
}

/* PRINT ONLY FORM */
@media print {

  body * {
    visibility: hidden;
  }

  #formSection, #formSection * {
    visibility: visible;
  }

  #formSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  button {
    display: none;
  }
}